html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  cursor: default;
}

:root {
  --light: #fff;
  --dark: #0d0817;
  --c1: #191f37;
  --c1a:rgb(30, 39, 75);
  --c1b:#292532;
  --c2: #39beeb;
  --c3: #f2b711;
  --c3a:#d2d89a;
  --c4: #ea2f96;
  --c4a:#9b1f67;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background-color: var(--dark);
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

@font-face {
  font-family: "ObjektivMk1";
  src: local("ObjektivMk1"),
    url("assets/ObjektivMk1-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "ObjektivMk1";
  src: local("ObjektivMk1"),
    url("assets/ObjektivMk1-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "ObjektivMk1";
  src: local("ObjektivMk1"),
    url("assets/ObjektivMk1-XBold.ttf") format("truetype");
  font-weight: 900;
}

body,
button,
input {
  font-family: "ObjektivMk1", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: unset;
}

b {
  font-weight: 900;
}

img {
  user-select: none;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: VAR(--c1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.gradient_border::before {
  content: "";
  position: absolute;
  inset: -0.06rem;
  background-image: linear-gradient(260deg, var(--c2), var(--c3), var(--c4));
  background-color: var(--c1);
  z-index: -1;
  border-radius: 0.3rem;
}

.background {
  background-image: url("assets/bg.jpg");
  position: absolute;
  inset: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  -webkit-mask-image: linear-gradient(180deg, black 62%, transparent);
}

main {
  width: clamp(20rem, 90vw, 75rem);
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column-reverse;
  margin: 2rem 0;
}
.header_logo {
  width: clamp(17rem, 80vw, 20rem);
  margin: 2rem auto;
  display: block;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: clamp(17rem, 80vw, 20rem);
  margin: 0 auto;
}
header nav a {
  font-size: clamp(0.8rem, 3vw, 0.9rem);
  letter-spacing: 1px;
  white-space: nowrap;
}
header nav a.gradient_border {
  position: relative;
  background-color: var(--dark);
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
}

.intro_text {
  text-align: center;
  margin: clamp(4rem, 12vw, 11rem) 0;
}


.cta {
  transition: background-color 0.3s ease;
} .cta:hover {
  transition: background-color 0.05s ease;
  background-color:var(--c1);
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: clamp(2.8rem, 12vw, 4.5rem);
  line-height: clamp(3.4rem, 14vw, 4.5rem);
  margin: 0 auto;
}
h2 {
  color: var(--c2);
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  margin: 1rem auto 1.4rem auto;
  font-weight: 500;
}

.intro_cta_ctnr, .learn_more_div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.intro_cta_ctnr a {
  flex-direction: row;
}

.intro_cta_ctnr a, .learn_more_div a {
  padding: 0.8rem 1.2rem;
  background: var(--light);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: var(--c1);
  align-items: center;
  font-weight: 600;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.intro_cta_ctnr a img, .learn_more_div a img {
  width: 1rem;
}

.info_bullets {
  display: flex;
  gap: 1.4rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  text-align: center;
  width: clamp(20rem, 75vw, 75rem);
}

.info_bullets > div {
  position: relative;
  background: var(--dark);
  padding: 1.4rem 0.5rem;
  width: 100%;
  border-radius: 0.8rem;
  width: clamp(14rem, 60vw, 14rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--c2);
  letter-spacing: 2px;
  font-size: 0.9rem;
}
.info_bullets > div::before {
  border-radius: 0.8rem;
}

.info_bullets span {
  color: white;
  font-weight: 900;
  font-size: 2rem;
}

.title_desc {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 900;
  width: clamp(18rem, 80vw, 50rem);
  margin: clamp(6rem, 9vw, 9rem) auto 3rem;
}


.wave1, .wave2 {
  position: absolute;
  left: 0;
  right: 0;
  background-size: cover;
}

.wave1 {
  background-image: url(assets/wave1.png);
  height: 50rem;
  background-position: 90%;
  opacity: 0.4;
  pointer-events: none;
  z-index: -1;
}

.features1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap:1.5rem;
  margin: clamp(3rem, 4vw, 4rem) 0
} .features1 > div {
  padding: 2.5rem 0;
  border-radius: 1rem;
  background-color: rgba(255,255,255,0.05);
  width: clamp(20rem, 80vw, 26rem);
  transition: background-color 0.5s ease;
} .features1 > div:hover {
  transition: background-color 0.05s ease;
  background-color: rgba(255,255,255,0.1);
} .features1 img {
  width: clamp(9rem, 10vw, 20rem);
} .features1 h4 {
  font-weight: 900;
  font-size: 1.4rem;
  margin: 1rem 0 0rem 0;
} .features1 h5 {
  color: var(--c3a);
  margin-bottom: 1rem;
  font-size: clamp(0.8rem, 3.5vw, 1rem);
} .features1 a {
  position: relative;
  font-size: 0.7rem;
  background-color: #26212f;
  padding: 0.5rem 0.9rem;
  margin: 1rem 0;
  display: inline;
  z-index: 2;
  line-height: 3rem;
  border-radius: 0.6rem;
  letter-spacing: 2px;
  font-weight: 600;
} .features1 a::before {
  border-radius: 0.6rem;
} .features1 .coming img {
    filter: blur(10px);
} .features1 .coming a {
  border: 1px solid #444;
  color: #888;
}


.features2 {
  display: flex;
  flex-flow: row wrap;
  gap: 5rem 4vw;
  margin: clamp(3rem, 4vw, 4rem) 0;
  justify-content: center;
} .features2 > div {
  width: clamp(13rem, 60vw, 16rem);
  position: relative;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  margin: 0 auto;
  height: clamp(20rem, 25vw, 30rem);
  transition: background-color 0.5s ease;
} .features2 > div:hover {
  transition: background-color 0.05s ease;
  background-color: var(--c1);
} .features2 > div::before {
  border-radius: 1.5rem;
} .features2 h4 {
  font-size: clamp(3rem, 1vw, 4rem);
  font-weight: 900;
} .features2 h5 {
  color:var(--c4a);
  font-size: clamp(0.9rem, 4vw, 1rem);
} .features2 a {
  text-align: center;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  background-color: var(--light);
  padding: 1rem 1.8rem;
  border-radius: 0.6rem;
  color: var(--c1a);
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 1px;
  transition: color 0.5s ease, background-color 0.5s ease;
} .features2 a:hover, .intro_cta_ctnr a:hover, .learn_more_div a:hover {
  transition: color 0.05s ease, background-color 0.05s ease;
  background-color:#39beeb;
  color: var(--light);
}

.learn_more_div {
  flex-flow: row wrap;
} .learn_more_div a {
  width: clamp(15rem, 10vw, 20rem);
  height: clamp(2rem, 3vw, 5rem);
  position: relative;
} .learn_more_div a img {
  position: absolute;
  left: clamp(1rem, 3vw, 2rem);
}

footer {
  border-top: 0.4rem solid var(--light);
  margin-top: clamp(2rem, 10vw, 7rem);
  padding: clamp(2rem, 10vw, 3rem) 0 clamp(2rem, 20vw, 13rem) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-image: url(assets/wave1.png);
  background-size: cover;
  background-position-y: 10rem;
  background-repeat: no-repeat;
} footer nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.7rem;
  width: clamp(16rem, 60vw, 18rem);
  line-height: 2.5rem;
  letter-spacing: 2px;
  text-align: left;
} footer nav a {
  padding: 0 1rem;
} .footer_logo {
  width: clamp(16rem, 60vw, 18rem);
  display: block;
  margin: 0 auto 2rem auto;
}
.legal {
  text-align: center;
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.7rem;
}












@media (min-width:800px) and (min-height:500px) {
  header {
    flex-direction: row;
  }.header_logo {
    width: 15rem;
  }

  .features2 > div {
    margin: 0;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  footer nav a {
    transition: background-color 0.5s ease;
  }
  footer nav a:hover {
    transition: background-color 0.05s ease;
    background-color:rgba(255,255,255,0.1)
  }
}